<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>bill</servlet-name>
        <servlet-class>bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewbooking</servlet-name>
        <servlet-class>viewbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vyshu</servlet-name>
        <servlet-class>vyshu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer</servlet-name>
        <servlet-class>customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerregister</servlet-name>
        <servlet-class>customerregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookanevent</servlet-name>
        <servlet-class>bookanevent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>equipment</servlet-name>
        <servlet-class>equipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decoration</servlet-name>
        <servlet-class>decoration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>food</servlet-name>
        <servlet-class>food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pay</servlet-name>
        <servlet-class>pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addvenue</servlet-name>
        <servlet-class>addvenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mydetails</servlet-name>
        <servlet-class>mydetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mydetails1</servlet-name>
        <servlet-class>mydetails1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminfeedback</servlet-name>
        <servlet-class>adminfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminvenue</servlet-name>
        <servlet-class>adminvenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerstatus</servlet-name>
        <servlet-class>customerstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminstatus</servlet-name>
        <servlet-class>adminstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminstatus1</servlet-name>
        <servlet-class>adminstatus1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerstatus1</servlet-name>
        <servlet-class>customerstatus1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment1</servlet-name>
        <servlet-class>payment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentcheck</servlet-name>
        <servlet-class>paymentcheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cvv</servlet-name>
        <servlet-class>cvv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otp</servlet-name>
        <servlet-class>otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewvenue</servlet-name>
        <servlet-class>viewvenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otp1</servlet-name>
        <servlet-class>otp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel</servlet-name>
        <servlet-class>cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paycheck</servlet-name>
        <servlet-class>paycheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentconfirmation</servlet-name>
        <servlet-class>paymentconfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>total</servlet-name>
        <servlet-class>total</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminvenue1</servlet-name>
        <servlet-class>adminvenue1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookevent</servlet-name>
        <servlet-class>bookevent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repayment</servlet-name>
        <servlet-class>repayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repayment1</servlet-name>
        <servlet-class>repayment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repayment2</servlet-name>
        <servlet-class>repayment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repayment3</servlet-name>
        <servlet-class>repayment3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repayment0</servlet-name>
        <servlet-class>repayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerpayment</servlet-name>
        <servlet-class>customerpayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repaymentconfo</servlet-name>
        <servlet-class>repaymentconfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventbooking</servlet-name>
        <servlet-class>eventbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel1</servlet-name>
        <servlet-class>cancel1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewvenue1</servlet-name>
        <servlet-class>viewvenue1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventcancel</servlet-name>
        <servlet-class>eventcancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bill</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewbooking</servlet-name>
        <url-pattern>/viewbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vyshu</servlet-name>
        <url-pattern>/vyshu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerregister</servlet-name>
        <url-pattern>/customerregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookanevent</servlet-name>
        <url-pattern>/bookanevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>equipment</servlet-name>
        <url-pattern>/equipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decoration</servlet-name>
        <url-pattern>/decoration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>food</servlet-name>
        <url-pattern>/food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pay</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addvenue</servlet-name>
        <url-pattern>/addvenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mydetails</servlet-name>
        <url-pattern>/mydetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mydetails1</servlet-name>
        <url-pattern>/mydetails1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminfeedback</servlet-name>
        <url-pattern>/adminfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminvenue</servlet-name>
        <url-pattern>/adminvenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerstatus</servlet-name>
        <url-pattern>/customerstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminstatus</servlet-name>
        <url-pattern>/adminstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminstatus1</servlet-name>
        <url-pattern>/adminstatus1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerstatus1</servlet-name>
        <url-pattern>/customerstatus1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment1</servlet-name>
        <url-pattern>/payment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentcheck</servlet-name>
        <url-pattern>/paymentcheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cvv</servlet-name>
        <url-pattern>/cvv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otp</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewvenue</servlet-name>
        <url-pattern>/viewvenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otp1</servlet-name>
        <url-pattern>/otp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paycheck</servlet-name>
        <url-pattern>/paycheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentconfirmation</servlet-name>
        <url-pattern>/paymentconfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>total</servlet-name>
        <url-pattern>/total</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminvenue1</servlet-name>
        <url-pattern>/adminvenue1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookevent</servlet-name>
        <url-pattern>/bookevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repayment</servlet-name>
        <url-pattern>/repayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repayment1</servlet-name>
        <url-pattern>/repayment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repayment2</servlet-name>
        <url-pattern>/repayment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repayment3</servlet-name>
        <url-pattern>/repayment3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repayment0</servlet-name>
        <url-pattern>/repayment0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerpayment</servlet-name>
        <url-pattern>/customerpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repaymentconfo</servlet-name>
        <url-pattern>/repaymentconfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventbooking</servlet-name>
        <url-pattern>/eventbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel1</servlet-name>
        <url-pattern>/cancel1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewvenue1</servlet-name>
        <url-pattern>/viewvenue1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventcancel</servlet-name>
        <url-pattern>/eventcancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
